.wrapper {
  margin: auto;
  width: 80%;
  border: 0px solid #000;
  padding: 10px;
  text-align: center;
}
h1 {
  /*margin:0;*/
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 6em;
  line-height: 2em;
  letter-spacing: 7px;
  color: #707070;
}
p, label {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1em;
  margin: 20px;
}
input {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  text-align: center;
}
label {
  font-size: 2em;
}
#num {
  font-size: 2em;
}
#reset:hover {
  background-color: #FFAEAE;
}
#submit {
  position: relative;
  top: -7px;
}
#submit:hover {
  background-color: #B0E57C;
}

#info {
  visibility: hidden;
  margin: 30px;
}
