<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Modify KeyMasher</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,700,300,400' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <link rel="stylesheet" href="css/style.css" type="text/css">
  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  
</head>

<body>
    <div class="container text-center">
        <h1>KeyMasher</h1>
        <form action="/modify" method="POST">
            <input id="text" type="text" name="command" value="" class="col-sm-12"><br><br><br>
            <input id="submit" type="submit" value="submit" class="btn btn-lg">
        </form>
    </div>
    
</body>

</html>
